
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.fullscreen-background {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #000000, #270081);
  /* background-image: url('./../../assets/MM.png'); */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}


form {
  display: flex;
  flex-direction:column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.189);
  backdrop-filter: blur(10px);
}

.formButtons {
  display: flex;
  flex-direction:row;
  gap: 1rem;
  align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.3s ease;
}

form button:focus {
  outline: none;
  box-shadow: none;
}


form h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 10px;
}

form input {
  padding: 0.8rem 1rem;
  border-radius: 90px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

form input::placeholder {
  color: #ccc;
}

.continue {
  background-color: #ffffff;
  color: #000000;
}

.continue:hover {
  background-color: #e6e6e6;
}

.signUp:hover {
  background-color: white;
  color: #1f1c2c;
}




/* Simbols */
.symbol {
  position: absolute;
  color: rgba(232, 232, 232, 0.23);
  font-weight: bold;
  pointer-events: none;
}

.symbol-dollar {
  top: 5rem;
  left: 5rem; 
  font-size: 3.75rem;
}

.symbol-percent {
  top: 50rem;
  right: 8rem;
  font-size: 2.25rem; 
}

.symbol-sum {
  bottom: 8rem; 
  left: 4rem;
  font-size: 3rem;
}

.symbol-pi {
  bottom: 5rem; 
  right: 5rem;
  font-size: 2.25rem; 
}

.symbol-plusminus {
  top: 15rem; 
  left: 33.3333%; 
  font-size: 1.875rem;
}

.symbol-infinity {
  top: 9rem; 
  right: 2%;
  font-size: 2.25rem; 
}
